<!DOCTYPE html>
<html>
<head>
  <title>
    비밀번호찾기 성공
  </title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="/javascripts/ft_find.js"></script>
  <link rel='stylesheet' href='/stylesheets/board.css' />
  <script type="text/javascript">
  var cleanUri = location.protocol + '//' + location.host + location.pathname + location.hash;
  cleanUri = encodeURIComponent(cleanUri);

 window.history.replaceState({}, document.title, cleanUri);
</script>
</head>
<body>
  <%
    if(!result[0]){
      %>
      <h2> 일치하는 고객님의 정보가 없습니다. </h2>
      <%
    }else{

      var user_password_after = result[0].password.substr(0,4);
          var something = '';
          for( var i = 4 ; i < result[0].password.length; i++){
            something += '*';
          }

          var user_password = user_password_after + something;
  %>
 <h2>고객님의 비밀번호는 <%=user_password%> 입니다.</h2>
<% } %>
</body>
</html>
