<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <!--<script src = "/javascripts/ft_home.js"></script>-->
    <link rel = 'stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1> <a href ='/first_test'> 강의교환 first_test </a> </h1>
    <ul>
      <li><a href = '/first_test/join1'> Join </a></li>
      <li><a href = '/first_test/login'>Login</a></li>
    </ul>
  </body>
</html>
