<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no” />
    <title>join3_page</title>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

       <link type="text/css" rel="stylesheet" href="/stylesheets/new_join3.css">
       <script src="/javascripts/ft_join.js"></script>
  </head>
  <body ondragstart="return false">
    <div id="wrapper">
      <div id="first_area">
        <div id="div_logo">
            <img src="/images/로고b.png" id="logo"></img>
        </div>
        <div id="z">
        </div>
        <div id="div_login">
          <% if(!session) { %>
          <p id="first_join"><a href = "/first_test/join1" style="text-decoration:none;" >회원가입</a></p><p id="first_login"><a href = "/first_test/login" style="text-decoration:none;">로그인</a></p>
          <% } else  {%>
          <p id="first_join"><a href = "/first_test/logout" style="text-decoration:none;">로그아웃</a></p>
          <p id="mypage_mention"><a href = "/first_test/mypage" style="text-decoration:none;">mypage</a></p>
          <% } %>
                  <div class = "modal" id= "MailBoxModal" style="display:none;" >
                  <div class = "modal-dialog">
                    <div class = "modal-content">
                      <!-- remote ajax call이 되는영역 -->
                    </div>
                    </div>
                    </div>
        </div>
      </div>
      <div id="line_1">
      </div>
      <div id="main_area">
        <div id="main_area_first">
          <div id="first_1">
              <p id="join_mention">회원가입</p>
              <div id="rectangle_2">
              </div>
          </div>
          <div id="first_2">
            <p id="number_1">1</p> <p id="a">약관동의</p>
            <div><img id = "arrow1"src="/images/화살표.PNG"></div>
            <p id="number_2">2</p><p id="b">정보입력</p>
            <div><img id = "arrow2"src="/images/화살표.PNG"></div>
            <p id="number_3">3</p><p id="c">가입완료</p>
          </div>
        </div>
        <div id="main_area_second">
          <p id="ok_mention">가입이 완료되었습니다!</p>
          <input type="button" value="확인" id="ok_button">
        </div>
      </div>
    </div>
  </body>

</html>
