<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
      <title>login_page</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src = "/javascripts/ft_login.js"></script>
    <link rel = 'stylesheet' href='/stylesheets/new_login.css'/>
  </head>
  <body ondragstart="return false">
    <div id="wrapper">
      <div id="first_area">
        <div id="div_logo">
          <p id="logo">LOGO</P>
        </div>
        <div id="z">
        </div>
        <div id="div_login">
          <p id="first_join">회원가입</p><p id="first_login">로그인</p>
        </div>
      </div>
      <div id="line_1">
      </div>
      <div id="div_main">
      <div id="input_area">
        <div id="input_id">
          <input id="login_email" type="text" placeholder="아이디를 입력하세요"></input>
        </div>
        <div id="input_password">
          <input id="login_password" type="password" placeholder="패스워드를 입력하세요"></input>
        </div>
      </div>
        <div id="login_button_area">
          <input id="loginButton" type="button" value="로그인"></input>
        </div>
    </div>
    <div id="div_main2">
      <div id="div_mention">
        <div id="div_find_id">
          <p id="first_mention">아이디/비밀번호를 잊으셨나요?</p>
        </div>
        <div id="div_mention_join">
          <p id="second_mention">아직 회원이 아니신가요?</p>
        </div>
      </div>
      <div id="div_mention_button">
        <div id="div_find_id_button">
          <input type="button" value="아이디/비밀번호 찾기" id="find_id_and_password"></input>
        </div>
        <div id="div_join_button">
            <input type="button" value="회원가입" id="login_JoinButton"></input>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
