<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src = "/javascripts/ft_leave.js"></script>
    <link rel = 'stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><a href = '/first_test'>강의교환 first_test</a></h1>
    <h2>회원탈퇴</h2>
    <p> Email    : <input type = "text" name = "email" id = "leave_email"></p>
    <p> password : <input type = "password" name = "pwd" id = "leave_password"></p>

    <h2>탈퇴사유</h2>
    <textarea rows="4" cols="50"></textarea>

    <input type = "button" value = "탈퇴" id ="leaveButton">
    <input type = "button" value = "취소" id = "cancelButton">
  </body>
</html>
