<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
      <title>login_page</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src = "/javascripts/ft_login.js"></script>
    <link rel = 'stylesheet' href='/stylesheets/login.css'/>
  </head>
  <body style=" width: 1200px; height: 768px; position:relative;">
    <div id="line_1">
    </div>
    <div id="first_area">
      <p id="logo"><a href = "/first_test/main/1">LOGO</a></P>
      <p id="first_FAQ">FAQ</p><p id="first_join"><a href = "/first_test/join1">회원가입</a></p><p id="first_login"><a href = "/first_test/login">로그인</a></p><p id="mypage_mention"><a href = "/first_test/mypage">mypage</a></p>
    </div>
       <input class="input_id" type="text" placeholder="아이디를 입력하세요" id = "login_email"></input>
          <input class="input_password" type="password" placeholder="패스워드를 입력하세요" id = "login_password"></input>
          <input class="login_button" type="button" value="로그인" id = "loginButton"></input>
          <p id="first_mention">아이디/비밀번호를 잊으셨나요?</p>
          <input type="button" value="아이디/비밀번호 찾기" class="find_login" id ="find_id_and_password"></input>
          <p id="second_mention">아직 회원이 아니신가요?</p>
          <input type="button" value="회원가입" class="login_joinButton" id = "login_joinButton"></input>
  </body>
</html>
