
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no” />
    <title>leave2_page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel = 'stylesheet' href='/stylesheets/new_leave2.css'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src = "/javascripts/ft_leave.js"></script>
  </head>
  <body style=" width: 1200px; height: 768px; position : relative;">
    <div id="line_1">
    </div>
    <div id="first_area">
      <p id="logo"><a href = "/first_test/main/1">LOGO</a></P>
      <p id="first_FAQ">FAQ</p>
      <% if(!session) { %>
      <p id="first_join"><a href = "/first_test/join1">회원가입</a></p><p id="first_login"><a href = "/first_test/login">로그인</a></p>
      <% } else  {%>
      <p id="first_join"><a href = "/first_test/logout">로그아웃</a></p>
      <% } %>
      <p id="mypage_mention"><a href = "/first_test/mypage">mypage</a></p>

              <button type = "button" id="MailBoxbtn" class = "mailbox-modal-btn" data-toggle="modal">
                      메일함
              </button>

              <div class = "modal" id= "MailBoxModal" style="display:none;" >
              <div class = "modal-dialog">
                <div class = "modal-content">
                  <!-- remote ajax call이 되는영역 -->
                </div>
                </div>
                </div>
    </div>
    <div id="second_area">
      <p id="join_mention">회원탈퇴</p>
      <p id="number_1">1</p> <p id="a">탈퇴안내</p>
      <span id="css-arrow1"></span>
      <p id="number_2">2</p><p id="b">탈퇴</p>
      <span id="css-arrow2"></span>
      <p id="number_3">3</p><p id="c">탈퇴완료</p>
    <div id="rectangle_2">
      <div id="rectangle_5">
        <p id="mention">정말로 탈퇴 하시겠습니까?</p>
        <input type="button" value="취소" id="rectangle_8_1">
        <input type="button" value="다음" id="rectangle_8_3">
      </div>
    </div>
    </div>
  </body>
</html>
