<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      <script src = "/javascripts/ft_write_matching.js"></script>
      <link rel = 'stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><a href = '/first_test'>강의교환 write_matching</a></h1>
    <h2>matching</h2>
    <p>구하는 과목 :<input type = "text" name = "class_name" id="class_name" ></p>
    <p>교수 이름 :<input type = "text" name = "prof_name" id="prof_name"></p>
    <p>시간 :<input type = "text" name = "time" id="time"></p>
    <p>change 과목 :<input type = "text" name = "change_class_name" id="change_class_name" ></p>
    <p>change 교수 이름 :<input type = "text" name = "change_prof_name" id="change_prof_name"></p>
    <p>change 시간 :<input type = "text" name = "change_time" id="change_time"></p>
    <input type ="button" value="okay" id = "button_okay">
    <input type ="button" value="cancel" id = "button_cancel">
  </body>
</html>
