
<!DOCTYPE html>
<html>
  <head>
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no” />
    <meta charset="utf-8">
    <title>new_join1</title>
     <link type="text/css" rel="stylesheet" href="/stylesheets/new_join1.css">
  </head>
  <body ondragstart="return false">
    <div id="wrapper">
      <div id="first_area">
        <div id="div_logo">
          <p id="logo">LOGO</P>
        </div>
        <div id="z">
        </div>
        <div id="div_login">
          <p id="first_join">회원가입</p><p id="first_login">로그인</p>
        </div>
      </div>
      <div id="line_1">
      </div>
      <div id="main_area">
        <div id="main_area_first">
          <div id="first_1">
              <p id="join_mention">회원가입</p>
              <div id="rectangle_2">
              </div>
          </div>
          <div id="first_2">
            <p id="number_1">1</p> <p id="a">약관동의</p>
            <div><img id = "arrow1"src="화살표.png"></div>
            <p id="number_2">2</p><p id="b">정보입력</p>
            <div><img id = "arrow2"src="화살표.png"></div>
            <p id="number_3">3</p><p id="c">가입완료</p>
          </div>
        </div>
        <div id="main_area_second">
          <textarea id="textarea" readonly="readonly" cols="110" rows="18">돈거래금지
          </textarea>
          <div id="second_area_2">
            <form style="float:right;margin-right:120px;">
            <input type="radio" name="agree" value="disagree" id ="disagree">미동의
            <input type="radio" name="agree" value="agree" id ="agree">동의
          </form>
          </div>
          <div id="second_area_3">
            <input type="button" value="취소" id="rectangle_8_1">
            <input type="button" value="다음" id="rectangle_8_2">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
