#wrapper
{
  width : 1020px;
  margin : 0 auto;
}
#first_area
{
  width : 1020px;
  height : 170px;

  display: inline-flex;
}
#div_logo
{
  height : 150px;

  width : 300px;
  padding : 10px;
}
#z{
  width: 420px;

  height: 170px;
}
#logo
{
  font-size: 50px;
  font-family: "NanumBarunGothic";
  color: rgb(58, 74, 88);
  cursor: pointer;
  margin-top: 80px;
}
#div_login
{
  height : 170px;

  width : 300px;
}

#first_login
{
  font-size:15px;
  float:right;
  margin-left: 30px;
  padding:1px;
  margin-top:10px;
  cursor: pointer;
}
#first_join
{
  font-size : 15px;
  float : right;
  margin-left: 30px;
  padding:1px;
  margin-top:10px;
  margin-right: 10px;
  cursor: pointer;
}
#change
{
  margin-top: -15px;
  position: absolute;
  margin-left: -40px;
  width : 800px;
}
.searchText
{
  width:200px;
  background-color:#fafafa;
  text-align:center;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
.searchText:focus
{
  width:350px;
border:1px solid skyblue;
background-color:white;
text-align:left;
background-position: 10px 10px;
background-repeat: no-repeat;
padding:4px;
transition: width 1s;
}
.mypage_mention
{
  font-size:15px;
  float:right;
  margin-left: 30px;
  padding:1px;
  margin-top:4px;
  cursor: pointer;
}
#MailBoxbtn
{
  position : absolute;
  margin-top: 10px;
  margin-left: 80px;
  cursor: pointer;
}
#line_1
{
  background-color: rgb(75, 108, 138);
  left: 42px;
  top: 189px;
  width: 1020px;
  height: 4px;
  z-index: 6;
}
#mention1
{
  font-size: 20px;
  font-family: "NanumBarunGothic";
  color: rgb(58, 74, 88);
  line-height: 1.2;
  position: absolute;
  margin-top : 140px;
  margin-left: 200px;
  z-index: 7;
  position:absolute;
}
#mention2
{
  font-size: 20px;
  font-family: "NanumBarunGothic";
  color: rgb(58, 74, 88);
  line-height: 1.2;
  margin-top : 140px;
  position: absolute;
  margin-left : 330px;
  z-index: 7;
}
#small_rectangle
{
  background-color: rgb(153, 153, 153);
 position: absolute;
 margin-top: 145px;
 margin-left: 315px;
 width: 2px;
 height: 25px;
 z-index: 9;
}
#mention3
{
  font-size: 25px;
 font-family: "NanumBarunGothic";
 color: rgb(58, 74, 88);
 line-height: 1.2;
 text-align: center;
 -moz-transform: matrix( 0.9998704848244,0,0,1,0,0);
 -webkit-transform: matrix( 0.9998704848244,0,0,1,0,0);
 -ms-transform: matrix( 0.9998704848244,0,0,1,0,0);
 position: absolute;
 margin-top : 200px;
 margin-left: 10px;
 z-index: 8;
}
#rectangle_2
{
  background-color: rgb(128, 175, 181);
  position: absolute;
  margin-top: 235px;
  width: 130px;
  height: 7px;
  z-index: 10;
}
#main_area
{
  margin-top: -100px;
  width : 1020px;
  height : 600px;
}
#search_area
{
  width : 1020px;
  height : 100px;
  display: inline-flex;
}
#form
{
  margin-top: 20px;
  margin-left: 400px;
}
#main_area_second
{
  width : 1020px;
  height : 480px;
  margin-top: 65px;
  background-color: rgb(244, 244, 244);
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-pane.active{
  display: block;
}
ul {
    list-style: none; /* Remove list bullets */
  }
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tab-pane {
    display: none;
    /*padding: 1px 2px;*/
    border: 1px solid #ccc;
    border-top: none;
}



table.type08 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width: 100%;
}
table.type08 thead td {
    font-weight: bold;
    vertical-align: top;
    color: #369;
    background-color: #BEEFFF;
    border-bottom: 3px solid #036;
    text-align: center;
    padding: 7px;
}

table.type08 tbody td {
  /*width: 150px;*/
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 7px;
}
/*
td {
    white-space: nowrap;
}
*/
tr:hover,tr:hover td {
   background: #FDF5E6!important;
}
tr:nth-child(even){background-color: #CBCBCB;}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 300px;
    margin-top: -44px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 31;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


.show{
  display : block;
}

.divider{
  background: #f1f1f1;
}
