#wrapper
{
  width : 1020px;
  margin : 0 auto;
}
#first_area
{
  width : 1020px;
  height : 170px;

  display: inline-flex;
}
#div_logo
{
  height : 150px;

  width : 300px;
  padding : 10px;
}
#z{
  width: 420px;

  height: 170px;
}
#logo
{
  font-size: 50px;
  font-family: "NanumBarunGothic";
  color: rgb(58, 74, 88);
  cursor: pointer;
  margin-top: 80px;
}
#div_login
{
  height : 170px;

  width : 300px;
}

#first_login
{
  font-size:15px;
  float:right;
  margin-left: 30px;
  padding:1px;
  margin-top:10px;
  cursor: pointer;
}
#first_join
{
  font-size : 15px;
  float : right;
  margin-left: 30px;
  padding:1px;
  margin-top:10px;
  margin-right: 10px;
  cursor: pointer;
}
#first_mypage
{
  font-size:15px;
  float:right;
  margin-left: 30px;
  padding:1px;
  margin-top:10px;
  cursor: pointer;
}
#line_1
{
  background-color: rgb(75, 108, 138);
  left: 42px;
  top: 189px;
  width: 1020px;
  height: 4px;
  z-index: 6;
}

#main_area
{
  width : 1020px;
  height : 600px;

}
#main_area_first
{
  width : 1020px;
  height : 120px;
  display: inline-flex;
  background-color: white;
}
#main_area_second
{
  margin-top: 10px;
  width : 1020px;
  height : 480px;

  background-color: rgb(244, 244, 244);
}
#first_1
{
  width : 200px;
  height : 120px;
}

#first_2
{
  width : 820px;
  height : 120px;
  display: inline-flex;
}
#join_mention
{
  font-size: 25px;
 font-family: "NanumBarunGothic";
 color: rgb(58, 74, 88);
 font-weight: bold;
 line-height: 5.2;
 height : 65px;
}
#rectangle_2
{
  background-color: rgb(128, 175, 181);
  width: 130px;
  height: 7px;
}

#second_area1
{
  margin-left: 80px;
  width : 800px;
  height : 300px;
  background-color: black;
}
.p_style
{
  font-size: 18px;
  font-family: "NanumBarunGothic";
  margin-left: 30px;
  margin-top:20px;
}
#check_id1
{
  position : absolute;
  font-size : 10px;
  margin-left: 30px;
  visibility:hidden;
}
#check_id2
{
  margin-left:30px;
  position : absolute;
  font-size : 10px;
  visibility:hidden;
}
.p_style2
{
  margin-left: 15px;
  font-size: 15px;
  text-align: left;
  font-family: "NanumBarunGothic";
}
#d1
{
  position : absolute;
  width : 150px;
  height:50px;
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
}
#d2
{
  position : absolute;
  width : 150px;
  height:50px;
  background-color: white;
  margin-left: 50px;
  margin-top: 100px;

}#d3
{
  position : absolute;
  width : 150px;
  height:50px;
  background-color: white;
  margin-left: 50px;
  margin-top: 150px;

}#d4
{
  position : absolute;
  width : 150px;
  height:50px;
  background-color: white;
  margin-left: 50px;
  margin-top: 200px;

}#d5
{
  position : absolute;
  width : 150px;
  height:50px;
  background-color: white;
  margin-left: 50px;
  margin-top: 250px;

}#d6
{
  position : absolute;
  width : 700px;
  height:47px;
  background-color: white;
  margin-left: 200px;
  margin-top: 50px;
  border : 2px solid white;
  background-color: rgb(244, 244, 244);

}#d7
{
  position : absolute;
  width : 700px;
  height:47px;
  background-color: white;
  margin-left: 200px;
  margin-top: 100px;

  border : 2px solid white;
  background-color: rgb(244, 244, 244);

}#d8
{
  position : absolute;
  width : 700px;
  height:47px;
  background-color: white;
  margin-left: 200px;
  margin-top: 150px;
  border : 2px solid white;
  background-color: rgb(244, 244, 244);

}#d9
{
  position : absolute;
  width : 700px;
  height:47px;
  background-color: white;
  margin-left: 200px;
  margin-top: 200px;
  border : 2px solid white;
  background-color: rgb(244, 244, 244);
}#d10
{
  position : absolute;
  width : 700px;
  height:43px;
  background-color: white;
  margin-left: 200px;
  margin-top: 250px;
  border : 2px solid white;
  background-color: rgb(244, 244, 244);
  display: inline-flex;
}
.a1
{
  border-radius: 4px;
  margin-top: 7px;
  margin-bottom: 7px;
  width : 200px;
  height : 23px;
  margin-left: 40px;
}

#password_correct
{
  left : 280px;
  top : 7px;
  z-index : 100;
  font-size: 10px;
  position : absolute;
  visibility: hidden;
  color : green;
}
#password_incorrect
{
  left : 280px;
  top : 7px;
  z-index : 100;
  font-size: 10px;
  position : absolute;
  visibility: hidden;
  color : red;
}
#ok
{
  margin-top: 15px;
  margin-left: 10px;
}
#p
{
  width : 300px;
  font-size: 10px;
  position : absolute;
  left :440px;
  top : 0px;
}
#joinButton
{
  font-size: 18px;
  font-family: "NanumBarunGothic";
  color: rgb(255, 255, 255);
  border-radius: 7px;
  background-color: rgb(128, 175, 181);
  position: absolute;
  margin-left: 430px;
  margin-top: 650px;
  width: 149px;
  height: 40px;
  z-index :22;
}
#check_nickname
{
  font-size: 10px;
  font-family: "NanumBarunGothic";
  color: rgb(255, 255, 255);
  border-radius: 7px;
  background-color: rgb(34, 34, 34);
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  z-index :22;
}
#updatefinButton
{
  font-size: 18px;
  font-family: "NanumBarunGothic";
  color: rgb(255, 255, 255);
  border-radius: 7px;
  background-color: rgb(128, 175, 181);
  position: absolute;
  margin-left: 430px;
  margin-top: 350px;
  width: 149px;
  height: 40px;
  z-index :22;
}
